/* app global css */
* {
  font-family: 'Microsoft JhengHei';
}

.q-field--standout.q-field--readonly .q-field__control::before {
  border: none;
}

.q-table tbody td {
  font-size: 16px;
}

.tableDialog {
  width: 70vw;
}

.sticky-header-row {
  max-height: 70vh;
}

.sticky-header-row .q-table__top {
  background-color: lightskyblue;
}

.sticky-header-row thead tr th {
  position: sticky;
  z-index: 1;
  font-size: 18px;
  font-weight: bold;
  background-color: lightcyan;
}

.sticky-header-row thead tr:last-child th {
  top: 48px;
}

.sticky-header-row thead tr:first-child th {
  top: 0;
}

.queryHistLabel {
  width: 120px;
}

.customTable .q-table th {
  background-color: lightcyan;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.customTable .q-table__top {
  background-color: lightskyblue;
}

.customTable .q-table__control {
  margin: auto;
}

.customTable .q-table__title {
  font-weight: bold;
}

.apexcharts-xaxis {
  cursor: pointer;
}